In [5]:
import pandas as pd
FILE_FOLDER = '../prediction_data/%s'

In [6]:
train_observedWeather = pd.read_csv(FILE_FOLDER%'observedWeather_201802-201803.csv')
print(train_observedWeather.columns)
train_observedWeather.head()

Index(['station_id', 'utc_time', 'weather', 'temperature', 'pressure',
       'humidity', 'wind_speed', 'wind_direction'],
      dtype='object')

,station_id,utc_time,weather,temperature,pressure,humidity,wind_speed,wind_direction
0,beijing_meo,2018-01-31 16:00:00,Sunny/clear,-4.8,1023.9,39,0.9,59
1,beijing_meo,2018-01-31 17:00:00,Sunny/clear,-6.1,1023.4,42,0.0,999017
2,beijing_meo,2018-01-31 18:00:00,Sunny/clear,-7.0,1023.1,45,0.5,178
3,beijing_meo,2018-01-31 19:00:00,Haze,-7.7,1022.8,47,0.0,999017
4,beijing_meo,2018-01-31 20:00:00,Sunny/clear,-6.3,1022.4,44,2.0,71

In [7]:
train_gridWeather = pd.read_csv(FILE_FOLDER%'gridWeather_20180501-20180502.csv')
print(train_gridWeather.columns)
train_gridWeather.describe()
train_gridWeather.head()

Index(['id', 'station_id', 'time', 'weather', 'temperature', 'pressure',
       'humidity', 'wind_direction', 'wind_speed'],
      dtype='object')

,id,station_id,time,weather,temperature,pressure,humidity,wind_direction,wind_speed
0,3116510,beijing_grid_000,2018-05-01 00:00:00,CLOUDY,20.0,975.6105,52.0,76.64,4.38
1,3116511,beijing_grid_001,2018-05-01 00:00:00,CLOUDY,20.0,962.0873,49.0,58.35,3.82
2,3116512,beijing_grid_002,2018-05-01 00:00:00,CLOUDY,13.0,948.5641,46.0,36.82,3.75
3,3116513,beijing_grid_003,2018-05-01 00:00:00,CLOUDY,13.0,933.2105,43.0,9.52,4.65
4,3116514,beijing_grid_004,2018-05-01 00:00:00,CLOUDY,13.0,916.0265,42.0,350.17,6.88

In [ ]:
train_quality = pd.read_csv(FILE_FOLDER%)